.smallButton {
    float: left;
    display: block;
    color: #2efffe;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    user-select: none;
    background-color: #180099;
}

.smallButton:hover {
    background: #008080;
    color: black;
    cursor: pointer;
}

#buttonsPart {
    margin-left: 34px;
    margin-top: 34px;
}

.standardButton {
    float: left;
    display: block;
    color: #2efffe;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    user-select: none;
}

.standardButton:hover {
    background: #008080;
    color: black;
    cursor: pointer;
}