#gridControl {
    display: grid;
    grid-template-rows: repeat(var(--rowNum));
    grid-template-columns: repeat(var(--colNum), auto);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 140px;
    margin-left: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}
