.listContainer {
    background-color: #180099;
}

.listItem {
    color: #2efffe;
    cursor: pointer;
    font-family: 'Perfect DOS VGA 437', sans-serif;	
    font-weight: normal;
    -webkit-font-smoothing: none;
}

.listItem:hover {
    background: #008080;
    color: black;
    cursor: pointer;
}

